<div style="margin-bottom:20px">
    <input class="easyui-textbox" name="name" style="width:85%" value="{$model.name|default=''}" data-options="label:'姓名:',required:true">
</div>
<div style="margin-bottom:20px">
    <input class="easyui-textbox" name="email" style="width:85%" value="{$model.email|default=''}" data-options="label:'邮箱',required:true,validType:'email'">
</div>
<div style="margin-bottom:20px">
    <input class="easyui-textbox" name="age" style="width:85%" value="{$model.age|default=''}" data-options="label:'年龄',required:true">
</div>